VITE_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=<PROJECT_ID>
VITE_APPWRITE_DB_ID=<DATABASE_ID>
VITE_APPWRITE_COLLECTION_ID=<COLLECTION_ID>
VITE_APPWRITE_BUCKET_ID=<BUCKET_ID>
# Server URL used by the tRPC client
VITE_SERVER_URL=http://localhost:8787